.button {
    position:absolute;
    top :32xp;
}

.over {
	position:absolute;
	top: 45px;
}
.container-back {
	background-color: blue;
	width: 100%;
	height: 100%;
	margin: 0;
}

.container-content {
	background-color: red;
	width: 100%;
	height: 100%;
}