

.ChatTitle {
	border: 1px solid black;
	height: 50px;
	text-align: center;
	font-size: 2em;
	padding-top: 2px;
}

.ButtonCreate {
	border-radius: none;
	font-size: 2em;
}

.ScrollingList {
	margin: 10px;
	display: list-item;
	height: 600px;
	width: 500px;
	overflow: auto;
}

.MyChannel {
	margin-top: 2px;
	width: 270px;
	height: 55px;
	text-align: left;
	font-size: medium;
	background-color: #DC7633;
}

.MyChannel:hover {
	background-color: #D35400;
}

.LogoChannel {
	width: 20px;
	height: 20px;
	margin: 5px;
}
