

.ChatTitle {
	border: 1px solid black;
	height: 50px;
	text-align: center;
	font-size: 2em;
	padding-top: 2px;
}

.TitleChannel {
	font-size: large;
	background-color: #A0B4D1;
	text-align: center;
	height: 40px;
	width: 785px;
	border: 1px solid black
}

.ButtonCreate {
	border-radius: none;
	font-size: 25px;
	height: 80px;
}

.ScrollingList {
	margin: 2px;
	margin-bottom: 20px;
	display: list-item;
	height: 600px;
	width: 500px;
	overflow: auto;
}

.ButtonMyChannel {
	margin-top: 1px;
	margin-bottom: 1px;
	width: 220px;
	height: 55px;
	text-align: left;
	font-size: medium;
	background-color: #DC7633;
	border: none;
}

.ButtonMyChannel:hover {
	background-color: #D35400;
	border: none;
}

.ButtonMyChannel:focus {
	background-color: #D35400;
}

.LogoChannel {
	width: 20px;
	height: 20px;
	margin: 5px;
}
