

.ChatTitle {
	border: 1px solid black;
	max-height: 50px;
	text-align: center;
	font-size: 2em;
	padding-top: 2px;
}

.ButtonCreate {
	border-radius: 5px;
	border-color: none;
	font-size: 1.5em;
	height: 4em;
	margin: 1px;
}

.ColumChat {
	height: 40%;
	width: 40%;
	padding: 50px;
}

/* * Interface .ChatTitle */


.TitleChannel {
	font-size: large;
	background-color: #A0B4D1;
	text-align: center;
	max-height: 40px;
	max-width: 100%;
	margin: 0;
	border: 1px solid black
}

.FormSendMessage {
	width: 100%;
	padding: 1em;
	display: flex;
}