

.ScrollingListChannel {
	margin: 2px;
	margin-bottom: 20px;
	display: list-item;
	height: 700px;
	width: 500px;
	overflow: auto;
	font-size: large;
}

.ButtonChannel {
	margin-top: 1px;
	margin-bottom: 1px;
	width: 220px;
	height: 55px;
	font-size: medium;
	border: none;
}


/*Channels joined */

.ChannelsJoined {
	margin-bottom: 50px;
}

.ButtonMyChannel {
	text-align: left;
	background-color: #DC7633;
}

.ButtonMyChannel:hover {
	background-color: #D35400;
	border: none;
}

.ButtonMyChannel:focus {
	background-color: #D35400;
}

.LogoChannel {
	width: 20px;
	height: 20px;
	margin: 5px;
}

/*Channels not joined */
.ButtonOtherChannel {
	text-align: center;
	background-color: #2E2792;
}

.ButtonOtherChannel:hover {
	background-color: #2E2792;
	border: none;
}

.ButtonOtherChannel:focus {
	background-color: #2E2792;
}